<div class="center hero-unit">
    <h1>Chicago Mapping </h1>
    <p>: a project to curate Second City cartography
     </p>

    <p><p> <%= link_to 'Add a Map Now',  "#" , class: "btn btn-large btn-primary" %> </p>
</div>